#search{
    font-size:25px;
    border:#000000;
    border: 10px;
}
#search_icon{
    border-color: #2C3E50;
    border-style:solid;
    background-color: #2C3E50;
    color: rgb(255, 255, 255);
    font-size: 16px;
    margin-right: 10px;
}
#search_box{
    display: flex;
    align-items: center;
    padding: 10px 15px;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
}

   
#thumbnails{
    justify-content: center;
    display: flex;
    align-items: center; 
    flex-wrap: wrap; 
    margin: 8;
    padding: 8px;
}
#thumbnails img {
    display: flex;
    flex-direction: column;
    width: 20vw;
    height:20vw;
    margin:20px;
}
#thumbnails label{
    color:rgb(0, 47, 255);
    font-family: 'Oswald', sans-serif;
    text-decoration: none;
    position: flex;
    font-weight: bold;
     text-align: center;  
}
    
a{
    color:white;
}