<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet" >
</head>
<body>
    <div class="header"> 
        Slopecast: The weather of your favourite slopes worldwide brought to you! 
        <div class="header-right">
            <a class="home" href="/">Home</a>
            <a class="about"href="/about">About</a>
            <a class="help" href="/help_">Help</a>
        </div>
    </div>
    <div class="container">
        <img src="{{ url_for('static', filename='/images/pexels-pixabay-209955.jpg') }}" alt="Snow" id = "snow_img">
        <div class="centered">About:</div>
    </div>
    <!-- Body -->
    <h2>What is Slopecast?</h2>  
    <p>An OSS (Open Source Software) website for the snowfields using a weather API. See the data about the world's favourite alpine areas for skiing and snowboarding in a quick snapshot! </p>
    <h2>Why did I make this project?</h2>
    <list>
        <li>No ads, no catch and no rubbish simple to use</li>
        <li>For Hackclub Siege (Theme: Winter)</li>
        <li>I love the mountains and checking the snowfall and weather of my favourite resorts I do almost everyday in winter.</li>
        <li>Build my flask skills and coding repoitre by building a site that has a backend</li>
        <li>Fufil shortcomings with existing software by specialising the data and providing everything needed for skiiers and snowboarders, being more detailed than other apps but not super detailed.</li>
    </list>
    <h2>Inspo</h2>
    <list class = "inspo">
        <li><a href="https://www.ski.com/">Ski.com</a></li>
        <li><a href="https://www.perisher.com.au/">Perisher</a></li>
        <li><a href="https://www.thredbo.com.au/weather/weather-report/">Thredbo</a></li>
        <li><a href="https://www.ski.com.au/">Ski.com.au</a></li>
        <li><a href="https://weather.com/en-AU/weather/today/l/ASXX0023:1:AS?Goto=Redirected">Weather.com</a></li>
        <li><a href="https://apps.apple.com/us/app/weather/id1069513131">IOS Weather App</a></li>
    </list>
    <!-- Footer -->
    <div id = "footer"></div>
    <div id = "link_tree">
        <br><br>
        Slopecast is an OSS project (Open Source Software).
        <br>
        <a href = "https://github.com/Riley-D-1/Slopecast">View on Github</a>
        <br>
        <a href = "https://github.com/Riley-D-1">Check out the creator!</a>
        <br>
    </div>
</body>
</html>