<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
</head>
<body>
    <h1>Something has gone wrong! It could be user error or developer error. API Status Code: {{error_code}}</h1>
    <a href = "https://github.com/Riley-D-1/Slopecast/issues">If you have time please report on the github issue page. (Please include Status Code)</a>
    <br><br>
    <a href="/">Back to homepage</a>
</body>
</html>