<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet" >
    <link href="{{ url_for('static', filename='css/home.css') }}" rel="stylesheet" >
</head>
<body>
    <div class="header"> 
        Slopecast: The weather of your favourite slopes worldwide brought to you! 
        <div class="header-right">
            <a class="home" href="/">Home</a>
            <a class="about"href="/about">About</a>
            <a class="help" href="/help_">Help</a>
        </div>
    </div>
    <div class="container">
        <img src="{{ url_for('static', filename='/images/pexels-pixabay-209955.jpg') }}" alt="Snow" id = "snow_img">
        <div class="centered">SLOPECAST</div>
        <form method="POST" action="/search" id = "search_box">
            <input id = "search" type="text" placeholder="Search.." name="query" autocomplete="off">
            <button id = "search_icon" type="submit"><i class="fa fa-search"></i></button>
        </form>
        
    </div>
    <!-- Body -->
    <p></p>
    <h2>Featured resorts</h2>
    <div id = "thumbnails">
        <a href = "/api?location=Perisher%20(Australia)" >
            <img src="{{ url_for('static', filename='images/perisher-own.jpg') }}"alt="perisher-own" id = "Perisher">
            <p class = "resort_labels">Perisher</p>
        </a>
        <a href = "/api?location=Thredbo%20(Australia)">
            <img src="{{ url_for('static', filename='images/Thredbo_ski_resort.jpg') }}" alt="Thredbo" id="Thredbo">
            <p class = "resort_labels">Thredbo</p>
        </a>
        <a href = "/api?location=Selwyn%20(Australia)">
            <img src="{{ url_for('static', filename='images/selwyn.jpg') }}" alt="Selwyn" id = "selwyn">
            <p class = "resort_labels">Selwyn</p>
        </a>
        <a href="/api?location=Falls%20Creek%20(Australia)">
            <img src="{{ url_for('static', filename='images/falls_creek.jpg') }}" alt="Falls_Creek" id = "Falls_Creek">
            <p class = "resort_labels">Falls Creek</p>
        </a>
        <a href="/api?location=Vail%20(USA)">
            <img src="{{ url_for('static', filename='images/vail.jpg') }}" alt="Vail" id = "vail">
            <p class = "resort_labels">Vail</p>
        </a>
        <a href="/api?location=Aspen%20(USA)">
            <img src="{{ url_for('static', filename='images/aspen.jpg') }}" id="aspen" alt = "Aspen">
            <p class = "resort_labels">Aspen</p>
        </a>
        <a href="/api?location=Whistler%20Blackcomb%20(Canada)">
            <img src="{{ url_for('static', filename='images/whistler.jpg') }}" alt="Whistler" id = "whistler">
            <p class = "resort_labels">Whistler</p>
        </a>
    </div>
    <!-- Footer -->
    <div id = "footer"></div>
    <div id = "link_tree">
        <br><br>
        Slopecast is an OSS project (Open Source Software).
        <br>
        <a href = "https://github.com/Riley-D-1/Slopecast">View on Github</a>
        <br>
        <a href = "https://github.com/Riley-D-1">Check out the creator!</a>
        <br>
    </div>
</body>
</html>